{% extends 'main.html' %}
{% block title %}Venue Name | {% endblock title %}
{% block content %}
        <div class="container mt-5">
            <div class="card p-5 d-flex flex-row">
                <div class='align-self-center'>
                    <img height="100px" src="https://i.ibb.co/sPCFhFC/oytx3fY.jpg" alt="">
                </div>
                <div class="ml-5">
                    <h3>Venue Name</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente aut maiores vel quas
                        veniam quia provident, explicabo atque beatae nisi! Lorem ipsum dolor sit amet consectetur
                        adipisicing elit. Eum sequi pariatur eveniet facere soluta aperiam ab rerum, expedita sed
                        officiis!</p>
                    <div class="d-flex">
                        <div class="one mr-3">
                            <p class="bold"><span>Address:</span>Butwal</p>
                            <p class="bold"><span>Capacity:</span>200</p>
                            <p class="bold"><span>City:</span>200</p>
                            <p class="bold"><span>Email:</span>email@email.com</p>
                        </div>
                        <div class="two ml-3">
                            <p class="bold"><span>price:</span>$200</p>
                            <p class="bold"><span>Events:</span>$200</p>
                            <p class="bold"><span>Street Number:</span>$200</p>
                            <p class="bold"><span>Phone Number:</span>$200</p>
                        </div>
                    </div>
                    <h5>Add Extra events as your need<small>(These may cost extra money)</small></h5>
                    <div class="d-flex">
                        <div class="one mr-3">
                            <div class="custom-control custom-checkbox mr-sm-2">
                                <input type="checkbox" class="custom-control-input" id="customControlInline">
                                <label class="custom-control-label" for="customControlInline">DJ</label>
                            </div>
                        </div>
                        <div class="two ml-3">
                            <p class="bold">$200</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

{% endblock content %}